* {
    margin: 0;
    padding: 0;
}

/* Default CSS */
:root {
    font-size: 24px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    flex-shrink: 0;
}

nav {
    height: 4.5em;
    padding: auto 0;
}

.site-container {
    max-width: 1000px;
    max-height: 100%;
    margin: 0 auto;
}

.site-navbar-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-home-link {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
}

.site-logo {
    display: inline-block;
    width: 3.25em;
}

.site-logo-text {
    font-weight: bold;
    font-size: 0.75em;
    line-height: 1rem;
    margin-left: 1em;
    color: #000000;
}

.navlinks-horizontal {
    display: grid;
    grid-column-gap: 1.8em;
    grid-auto-flow: column;
}

.navlink {
    font-size: 0.5em;
    line-height: 0.67em;
    color: #3B3736;
    text-decoration: none;
    text-transform: uppercase;
}

.navlink[selected='True'] {
    font-weight: 900;
}

.navlink:hover {
    position: relative;
    bottom: 1px;
    transition-duration: 1s;
}

footer {
    height: 3.5em;
    background: #293B52;
}

.site-footer-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.site-footer-wrapper .navlink {
    color: #F8D16C;
}

.sociallinks {
    margin-right: 1em;
    display: grid;
    grid-column-gap: 0.5em;
    grid-auto-flow: column;
}

.sociallink {
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sociallink img {
    width: 0.5em;
}

/* Pages related CSS */

.page-heading-background {
    height: 7.5em;
    background: #e7e7e7;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-heading {
    position: relative;
    display: inline-block;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
    color: #3B3736;
}

.heading-background-box {
    background: #F8D16C;
    position: absolute;
    width: 85%;
    height: 65%;
    left: 30%;
    bottom: 35%;
    z-index: 1;
}

.heading-text {
    position: relative;
    z-index: 2;
}

.page-title {
    position: relative;
    display: inline-block;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    color: #000000;
}

.page-subtitle {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.375em;
    color: #878787;
}