.timeline-mobile{
    display: none;
    text-align: center;
    margin: 0 auto;
}

.event-heading-mobile {
    font-family: Nunito Sans;
    font-weight: bold;
    font-size: 0.65rem;
    line-height: 1rem;
    color: #ffffff;
    text-align: center;
}

.event-date-mobile {
    font-family: Nunito Sans;
    font-weight: normal;
    font-size: 0.65rem;
    line-height: 1rem;
    color: #ffffff;
    text-align: center;
}

.event-connect {
    height: 80px;
    width:5px;
    background-color: #DDDDDD;
    display:block;
    margin: 0 auto;

}
.event-ongoing {
    height:80px;
    width:5px;
    background: #dddddd;
    background: linear-gradient(180deg, #55BCBF 0%, #55BCBF 60%, rgba(221,221,221,1) 60%, rgba(221,221,221,1) 100%);
    display:block;
    margin: 0 auto;
}
.event-complete {
    height: 80px;
    width:5px;
    background-color: #55BCBF;
    display:block;
    margin: 0 auto;
}

@media screen and (max-width: 1221px) {
    .timeline-desktop{
        display: none;
}
    .timeline-mobile{
        display:block;
    }
    .timeline-heading {
        margin-bottom: 1em;
    }
}